.header {
    background-color: #807215;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #171400;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
